# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Env
.venv
requirements.txt
.venv/
target/
logs/
dbt_packages/
.env
__pycache__/
*.pyc

# Data files (si lourds)
*.csv
*.parquet

# BigQuery exports
*.json

# Credentials
*.json
creds/
/creds/
