############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo

############################
# Virtual environments
############################
.venv/
venv/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# OS
############################
.DS_Store

############################
# dbt artifacts
############################
target/
dbt_packages/
logs/

############################
# Environment variables
############################
.env

############################
# Credentials
############################
profiles.yml
*.pem
*.key
service-account*.json

# dossiers sensibles
creds/
./creds/

############################
# Data files (OPTIONNEL)
############################
*.csv
*.parquet

############################
# IDE
############################
.vscode/
.idea/