############################
# PYTHON
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
.env/
/data/projects/databird-analytics-engineer/04_local_bike_project/airflow/.env

############################
# JUPYTER
############################
.ipynb_checkpoints/

############################
# OS
############################
.DS_Store

############################
# IDE
############################
.vscode/
.idea/

############################
# LOGS (GLOBAL PROJECT)
############################
logs/
*/logs/
**/logs/

############################
# AIRFLOW (global module)
############################
06_airflow/logs/
06_airflow/db/
06_airflow/.env
06_airflow/.dbt/

############################
# DBT (module 03_dbt)
############################
03_dbt/target/
03_dbt/logs/
03_dbt/dbt_packages/
03_dbt/dbt_modules/

############################
# LOCAL BIKE PROJECT
############################
04_local_bike_project/data/
04_local_bike_project/logs/
04_local_bike_project/**/target/
04_local_bike_project/**/db/
04_local_bike_project/**/dbt_packages/
04_local_bike_project/airflow/.env
**/**/.env
**/.env

############################
# DOCKER / METABASE
############################
metabase/*.tar.gz
*.tar.gz

############################
# SECRETS / CREDENTIALS
############################
*.pem
*.key
*.json
service-account*.json
creds/

# dbt profiles
profiles.yml
*/profiles.yml

############################
# DATA FILES
############################
*.csv
*.parquet
*.xls
*.xlsx

############################
# REQUIREMENTS CACHE
############################
pip-log.txt
pip-delete-this-directory.txt

############################
# NOTEBOOK OUTPUTS / ARTIFACTS
############################
*.out
*.log